- logged = [ 'logged', current_user.nil? ? nil : 'out' ].compact.join('-')

.container-header
  .container
    %a.brand-holder
      = render partial: 'logo', formats: [ :svg ]

      %h1.brand Product Chase
      %small the best new products, daily

    %ul.user-menu.header-nav{ class: logged }

      - if current_user
        %li
          = link_to '+', new_product_path, class: 'new-post-link'

        %li.menu-parent
          %a.user-image-menu{ href: user_path(current_user) }
            %img.twitter-rounded.user-image{ height: 30, width: 30, src: current_user.twitter_pic }

        %li
          = form_for current_user, method: :delete, url: destroy_user_session_path do |f|
            = f.submit 'Log Out', class: 'new-post-link'
      - else
        %li
          = link_to 'Log In', user_omniauth_authorize_path('twitter')
    .clearfix
