- maxdays = 10

.day
  %time.date{ datetime: day }
    %h4.day-name= day_name day

    = day.strftime "%B #{day.day.ordinalize}"

  %ul.posts-group
    - products.each_with_index do |product, i|
      - onclick = "document.location='#{product_path(product)}';"
      - superfluous = !day.today? and i > 9 ? 'hidden-post' : ''

      %li.post{ onclick: onclick, class: ('hidden-post' if !day.today? and i > maxdays - 1) }
        .upvote{ data: { type: 'post' } }

          - unless current_user.nil?
            %a.upvote-link{onclick: "event.stopPropagation(); document.getElementById('upvote-#{product.id}').submit();"}

            = form_for(product, url: vote_product_path(product), html: { style: 'display: none;', id: "upvote-#{product.id}" }) {}
          - else
            %a.upvote-link{href: user_omniauth_authorize_path('twitter')}

          %span.vote-count= product.votes.count
        .url
          = link_to product.name, product.link, class: 'post-url title'
          %span.post-tagline.description= product.description
        %a.view-discussion{href: "#"}
          =image_tag "comment-cloud.png", alt: "Comment", class: "comment-image"
          %p.comment-count=23
        .user-image-holder
          =link_to image_tag(product.user.twitter_pic, title: product.user.twitter_username, class: "twitter-rounded user-image", height: "30", width: "30"), product.user

  - if !day.today? and products.length > maxdays
    %a.show-hidden-posts{ href: '#', onclick: 'showHiddenProducts()' }
      %i.fa.fa-angle-down.fa-3
      = "Show #{pluralize(products.length - maxdays, 'more product')}"
